.roundborder
{
    border: black 1px solid;
    border-radius: 5px;
}

.hide{
    display: none;
}

.wsnormal {
    white-space: normal;
}

#member
{
    overflow: auto;
    height: 450px;
}

#capacityTable
{
    overflow: auto;
    height: 315px;
    margin: 8px 0px 8px;
}

.input-append .btn.dropdown-toggle {
    float: none;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn-github {
    margin-left: 10px;
}

.labelCheckboxMargin label{
    margin-left: 5px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#btnShowCapacities {
    margin-top: 32px;
}

.longText {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ueDescriptionColumn, ueNameColumn {
    width: 200px;
}

.sectionNameColumnInUe {
    width: 137px;
}

.sectionNameColumn {
    width: 200px;
}

.sectionDescriptionColumn {
    width: 320px;
}

.btnDetails {
    font-size: smaller;
}

